@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600;700&display=swap');
body {
    margin: 0;
    background: bisque
}

.container {
    display: flex;
    justify-content: space-around;
  font-family: 'Rajdhani', sans-serif;
   
    
}
p{
    
    color: red;
    text-align: center;
  font-size: 20vh;
}
.counter-h{
    background-color: black;
 
  
  
  
   
}
.counter-g{
    background-color: black;
    
}
button{
  font-size: 5vh;
    border-style: solid;
    border-width: 2px 2px;
    border-radius: 4px;
    border-color: #6969dd;
}